{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Профиль
{% endblock %}
{% block content %}
	<div class="content-section">
      	<h2 class="account-heading">{{ user.first_name }} {{user.last_name}}</h2>
  	    <!-- <p class="text-secondary">{{ user.email }}</p>
		<p class="text-secondary">{{ user.username }}</p>
		<p class="text-secondary">{{ user.hostel }}</p> -->
  	</div>
	  <main>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
		  {% for ticket in tickets %}
			  <div class="col">
				<div class="card mb-4 rounded-3 shadow-sm">
				  <div class="card-header py-3">
					<h4 class="my-0 fw-normal">{{ticket.title}}</h4>
				  </div>
				  <div class="card-body">
					<h1 class="card-title pricing-card-title">{{ticket.price}} руб.</h1>
					<ul class="list-unstyled mt-3 mb-4">
					  <li>{{ticket.description}}</li>
					  <li>ID: {{ticket.id_for_use}}</li>
					  {% if ticket.can_use %}
						<li>Талон отмечен как используемый</li>
					  {% else %}
						<li>Для использования нажмите кнопку ниже</li>
					  {% endif %}
					</ul>
				  </div>
				  {% if not ticket.can_use %}
				  <form action="{% url 'confirm_use' %}?ticket_id={{ ticket.id_for_use }}&next={{ request.path }}" method="post" onsubmit="window.mytest2()">
					{% csrf_token %}
					<button type="submit" class="btn btn-secondary">использовать</button>
				  </form>
				  <script type="text/javascript">window.mytest2 = function() { var isValid = confirm('Вы уверены, что хотите использовать талон?\
				   Данное действие необратимо и кастелян будет иметь доступ к нему.');if (!isValid) { event.preventDefault();  alert("Действие отменено");}}</script>
				  {% endif %}
				</div>
			  </div>
		  {% endfor %}
	
		</div>
	  </main>
{% endblock content %}