{% extends 'base.html' %}
{% block content %}
    <h1>Добро пожаловать в систему учета достижений студентов (Student Achievement Record System) - SARS</h1>
    <article><strong>Здесь вы сможете загрузить свои достижения, обновить рейтинг и посмотреть свое место в общем рейтинге</strong></article>
    <div class="table-wrapper">
    <table class="alt">
        <thead>
          <tr>
            <th>Место</th>
            <th>СНИЛС</th>
            <th>Баллы</th>
          </tr>
        </thead>
        <tbody>
          {% for row in table_data %}
            <tr>
              <td>{{ row.rank }}</td>
              <td>{{ row.snils }}</td>
              <td>{{ row.points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}